<h1>Nouvelle tâche</h1>
<%= form_for @task do |f| %>
  <%= f.label :title, "Titre" %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :title, "Terminée ?" %>
  <%= f.check_box :done %>
  <br>
  <%= f.submit "Créer" %>
<% end %>
